<div class="column-lay">
  <app-left-hexagon (clickReturn)="getCurrentLeftName($event)" [nameArray]="nameArray"></app-left-hexagon>
  <nz-affix [nzOffsetTop]="0">
    <div class="column-right-wrap" [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
      <div class="column-right">
        <app-biz-tabs [currentSelFirstTabId]="firstSelTabOneLevelId"
                      [currentSelSecondTabId]="firstSelTabTwoLevelId"
                      [currentSelThirdTabId]="firstSelTabThreeLevelId"
                      [tabObj]="tabObj" (selId)="getSelId($event)"></app-biz-tabs>
        <app-data-show [dataInfo]="showInfo"></app-data-show>
        <ng-content></ng-content>
      </div>
    </div>
  </nz-affix>
</div>
