<ng-container *ngIf="!selAlarm&&false">
  <section class="layout-content" *ngIf="isShowStandard||false">
    <form [formGroup]="validateForm">
      <div nz-row>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">死亡人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="死亡人数" formControlName="peopleDie"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">重伤及急性工业中毒人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="重伤及急性工业中毒人数" formControlName="peopleInjury"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">直接经济损失（万元）</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="直接经济损失（万元）" formControlName="propertyLoss"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">现场失踪人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="现场失踪人数" formControlName="peopleLoss"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">毒性气体储量（吨）</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="毒性气体储量（吨）" formControlName="toxicGas"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8"></div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="4">发生灾害地区</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <div nz-row>
                <div nz-col [nzSpan]="4">
                  <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="cityId"
                             (ngModelChange)="changeProvince($event)">
                    <nz-option *ngFor="let item of provinceData" [nzValue]="item.value"
                               [nzLabel]="item.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col class="font-sel" [nzSpan]="1">市</div>
                <div nz-col [nzSpan]="4">
                  <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="areaId"
                  >
                    <nz-option *ngFor="let c of cityData" [nzValue]="c.value"
                               [nzLabel]="c.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col class="font-sel" [nzSpan]="3"> 区(县)</div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </section>
  <div class="drive">
    <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}"
         (click)="isShowStandard=!isShowStandard"></div>
  </div>
</ng-container>
地政
