<ng-container *ngIf="!selAlarm&&false">
  <section class="layout-content" *ngIf="isShowStandard||false">
    <form [formGroup]="validateForm">
      <div nz-row>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">死亡人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="死亡人数" formControlName="peopleDie"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">重伤及急性工业中毒人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="重伤及急性工业中毒人数" formControlName="peopleInjury"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">直接经济损失（万元）</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="直接经济损失（万元）" formControlName="propertyLoss"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">现场失踪人数</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="现场失踪人数" formControlName="peopleLoss"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">毒性气体储量（吨）</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number nzPlaceHolder="毒性气体储量（吨）" formControlName="toxicGas"
                               [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8"></div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="4">发生灾害地区</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <div nz-row>
                <div nz-col [nzSpan]="4">
                  <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="cityId"
                             (ngModelChange)="changeProvince($event)">
                    <nz-option *ngFor="let item of provinceData" [nzValue]="item.value"
                               [nzLabel]="item.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col class="font-sel" [nzSpan]="1">市</div>
                <div nz-col [nzSpan]="4">
                  <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="areaId"
                  >
                    <nz-option *ngFor="let c of cityData" [nzValue]="c.value"
                               [nzLabel]="c.label"></nz-option>
                  </nz-select>
                </div>
                <div nz-col class="font-sel" [nzSpan]="3"> 区(县)</div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </section>
  <div class="drive">
    <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}"
         (click)="isShowStandard=!isShowStandard"></div>
  </div>
</ng-container>
<div class="column-lay">
  <div class="column-left">
    <div class="sub-left"><p>启动应急响应</p></div>
    <div class="sub-right displacement"><p>分组开展<br/>应急救援工作</p></div>
    <div class="sub-left move"><p>保障方案</p></div>
    <div class="sub-right displacement"><p>现场信息采集</p></div>
    <div class="sub-left move"><p>辅助指挥<br/>决策信息</p></div>
    <div class="sub-right displacement"><p>事态控制</p></div>
    <div class="sub-left move"><p>善后处理<br/>与事故调查</p></div>
  </div>
  <div class="column-right">
    <div class="r-cnt">
      <ul class="r-ul clearfix">
        <li *ngFor="let tab of tabs" (click)="chooseTab(tab.id)" [ngClass]="{'active':tabId==tab.id}">{{tab.name}}</li>
      </ul>
      <div *ngIf="tabId==1">
           <ul class="second-tabs clearfix">
             <li *ngFor="let tab of tabs" (click)="chooseTab(tab.id)" [ngClass]="{'actives':tabId==tab.id}">{{tab.name}}</li>
           </ul>
      </div>
      <div *ngIf="tabId==2">
        专业处置组
      </div>
      <div *ngIf="tabId==3">
        警戒疏散组
      </div>
      <div *ngIf="tabId==4">
        交通管制组
      </div>
    </div>
  </div>
</div>
