.layout-content {
  position: relative;
  width: 100%;
  background: url(../../../../../../assets/imgs/judgment-wrap-bg.png) no-repeat;
  background-size: 100% 100%;
  form {
    width: auto;
    margin: auto;
    padding-top: 45px;
  }
}

.solute {
  position: absolute;
  z-index: 10;
  right: 1.5%;
  top: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-sel{
  margin-left: 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 32px;
}


nz-input-number {
  width: 210px;
  height: 32px;
  border: none;
  background: url(../../../../../../assets/imgs/disaster-type-bg.png) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 18px;
  padding-top: 2px;
}

nz-form-label {
  text-align: right;
}

nz-select {
  margin: 0 10px 25px 10px;
  width: 184px;
  height: 32px;
}


nz-form-label {
  text-align: right;
}
