<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId" [shows]="isShows"
                 [EmergencyDataModel]="emergencyObj"></app-btn-group>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <table cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td class="width_50" colspan="2">应急工作内容</td>
          <td class="width_30">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">启动应急响应</td>
          <td class="height_93" colspan="2">
            省环境应急指挥部，负责统筹协调、现场指挥、应急处置、督促指导等工作。由省人民政府主要负责同志担任总指挥。
          </td>
          <td class="height_93">
            省人民政府
          </td>
        </tr>
        <tr>
          <td align="center" rowspan="3">应急响应措施</td>
          <td class="height_93 nowrap">
            健康防护措施
          </td>
          <td class="height_93">
            1、儿童、孕妇 、老年人和患有呼吸道疾病、心脑血管疾病等易感人群留在室内。<br>
            2、学校和幼儿园停止户外活动，中小学和幼儿园必要时可以临时停课。<br>
            3、停止所有户外大型活动；一般人群应避免户外活动，户外作业者临时停止户外作业。
          </td>
          <td class="height_93">
            省卫生健康委、省教育厅
          </td>
        </tr>

        <tr>
          <td class="height_93">
            建议性污染减排措施
          </td>
          <td class="height_93">
            1、尽量乘坐公共交通工具出行， 公共交通管理部门加大公共交通运力保障。<br>
            2、驻车时及时熄火，减少车辆原地怠速运行时间 。<br>
            3、倡导公众节约用电。
          </td>
          <td class="height_93">
            省生态环境厅、省工业和信息化厅、省应急厅、省公安厅、省住房城乡建设厅、省交通运输厅、省水利厅、省农业农村厅
          </td>
        </tr>


        <tr>
          <td class="height_93 nowrap">
            强制性污染减排措施
          </td>
          <td class="height_93">
            1、加大对燃煤锅炉、施工场地 、机动车排放 、工业企业等重点大气污染源的执法检查频次 ，确保其污染防治设施高效运转。<br>
            2、根据各市的Ⅰ级应急减排项目清单 ， 在确保安全生产的前提下，对铸造 、水泥 、 钢铁 、有色 、石化 、化工 、电力 、医药 、 焦化 、玻璃等重点排污单位有计划地实施限产或停产，限产优先采用部分生产线停产的方式实现。<br>
            3、积极利用区外来电 ，严格执行绿色节能调度 ；火电机组中，天然气电厂和超低排放燃煤电厂优先发电 ；超低排放燃煤电厂在满足区域供电平衡和热力供应的前提下，煤耗低的机组优先发电。<br>
            4、燃煤企业使用硫分低于 0.7% 、 灰分低于 15% 的优质煤炭 ，削减大气污染物排放。<br>
            5、工业企业不得开停车作业与检修放空作业 ，汽车制造 、家具制造 、船舶修造 、 印刷包装 、汽车维修等行业暂停使用涂料 、油墨。<br>
            6、停止爆破 、破碎 、无封闭混凝土搅拌作业 ， 停止室外工地喷涂粉刷 、护坡喷
            浆作业。<br>
            7、一切露天拆除 、施工工地作业暂停 （ 对工艺要求需混凝土连续浇筑可正常进行 ）。<br>
            8、加大施工工地洒水降尘频次 ， 对施工工地出入口道路实施机械化冲洗 ， 对裸露地面 、 物料堆场以及停工工地等加强遮盖。<br>
            9、产生扬尘污染的干散货码头 、 堆场停止作业 ， 并做好场地洒水降尘工作。<br>
            10、钢铁 、建材 、焦化 、 铸造 、 有色 、 电力 、 化工 、 矿山等重点用车企业不得允许。<br>
            11、运输车辆进出厂（ 保证安全生产运行的达到国 Ⅴ 及以上排放标准的车辆除外 ）；运输散装物料 、煤 、焦 、渣 、沙石和土方等运输车辆全部禁行。<br>
            12、燃油工程机械 、 港作机械 、农业机械 （ 农作物抢收抢种期间除外 ）、林业机械 、 园林机械全部停用。<br>
            13、港口集疏运车辆禁止进出港区（ 运输民生保障物资 ， 以及为外贸货物 、进出境旅客提供港口集疏运服务的达到国 Ⅴ 及以上排放标准的车辆除外）。<br>
            14、加大道路机械化清扫（冲洗）保洁频次和作业范围。<br>
            15、城区禁行柴油货车，过境柴油货车绕行疏导。<br>
            16、200 总吨以下的干散货船 、单壳化学品船 、600 吨载重以上的单壳油船停驶。<br>
            17、严格落实农作物秸秆及杂物禁烧措施。<br>
            18、禁止露天烧烤。<br>
            19、禁止烟花爆竹燃放。

          </td>
          <td class="height_93">
            省生态环境厅、省工业和信息化厅、省应急厅、省公安厅、省住房城乡建设厅、省交通运输厅、省水利厅
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
