<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content *ngIf="!isCurrProcess" #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"
                       [rowspanNum]="rowspans"></app-new-content>
      <table *ngIf="isCurrProcess" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td colspan="2" class="width_50">应急工作内容</td>
          <td colspan="2" class="width_30">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">启动应急响应</td>
          <td colspan="2" class="height_93">向省人民政府汇报，启动应急，发布应急响应通知。
          </td>
          <td colspan="2" class="height_93">省人民政府、省应急厅(区域合作处、应急指挥中心、办公室)</td>
        </tr>
        <tr>
          <td align="center">成立指挥部</td>
          <td colspan="2" class="height_93">省突发地质灾害应急指挥机构总指挥等主要负责人赴指挥中心。组建现场指挥部，协调指挥现场应急救援工作。
          </td>
          <td colspan="2" class="height_93">省突发地质灾害应急指挥机构总指挥：分管应急管理工作的副省长或省委、省政府指定的负责同志，必要时由省长担任总指挥。
            副指挥长：分管应急管理工作的副秘书长，省应急厅、省自然资源厅主要负责人
          </td>
        </tr>
        <tr>
          <td align="center" rowspan="3">开展应急救援</td>
          <td class="height_93">现场指挥部
          </td>
          <td>负责地质灾害应急救援与处置的前沿指挥工作。</td>
          <td class="height_93">现场总指挥</td>
          <td class="height_93">现场指挥机构指挥长和各工作组组长由省突发地质灾害应急指挥机构指挥长任命</td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">工作职责</td>
          <td class="height_93" rowspan="2">
            制定实施抢险救灾力量配置方案，调配救援队负责现场指挥，组织、协调各成员单位按照各自职责开展应急监测、应急调查、人员搜救、安置救助、疫情防控、医疗救治、应急排险、道路抢修、设施维护等应急处置和救援工作。<br/>
            （1）开展应急值守工作，根据应急工作需要，加强开展灾区气象条件和天气趋势监测预报，及时发布突发地质灾害气象风险预警信息。<br/>
            （2）组织指导开展灾害发生地及周边地区地质灾害隐患再排查和会商研判灾情及发展趋制定实施抢险救灾力量配置方案，调配救援队负责现场指挥，组织、协调各成员单位按照各自职责开展应急监测、应急调查、人员搜救、安置救助、疫情防控、医疗救治、应急排险、道路抢修、设施维护等应急处置和救援工作。<br/>
            （1）开展应急值守工作，根据应急工作需要，加强开展灾区气象条件和天气趋势监测预报，及时发布突发地质灾害气象风险预警信息。<br/>
            （2）组织指导开展灾害发生地及周边地区地质灾害隐患再排查和会商研判灾情及发展趋势，按规定向省委、省政府和国家上报灾情信息和应急响应工作情况，依法发布相关信息，做好舆论引导管控工作。<br/>
            （3）组织协调专、兼职应急救援力量开展被困或失联人员搜救，并根据应急工作需要，按程序提请、衔接驻苏解放军、武警部队参与应急救援工作。<br/>
            （4）组织受灾害威胁区域人员疏散转移，调拨和紧急配送应急物资，妥善安置受灾群众，预防和控制疫情，做好伤员医疗救治和遇难人员遗体处置工作。<br/>
            （5）组织实施应急排险工作，控制、排除灾情及其次生险情，抢修和维护道路、通信及供水、供电、供气等公共设施。<br/>
            （6）做好有关路段的交通管制和疏导工作，组织警力维护灾区社会治安秩序，保卫重要目标。<br/>
            根据应急工作需要，可设立应急指挥、技术支撑、救援协调、救灾救助、新闻宣传、综合保障等工作组，分工组织实施应急处置和救援工作。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省委宣传部、省发展改革委、省教育厅、省工业和信息化厅、省公安厅、省民政厅、省财政厅、省自然资源厅、省住房城乡建设厅、省交通运输厅、省水利厅、省文化和旅游厅、省卫生健康委、省粮食和储备局、省气象局、省通信管理局、武警江苏省总队、省消防救援总队、省电力公司等部门和单位负责人等
          </td>
        </tr>
        <tr>
          <td align="center">事态控制</td>
          <td class="height_93" colspan="2">1、提请、衔接武警部队和解放军、危化品专业救援队伍、社会救援力量等参与应急救援。<br/>
            2、组织、协调重要应急物资的调拨和紧急配运。<br/>
            3、保障事故所在地电力、通讯等资源保障工作。<br/>
            4、保障现场与指挥部之间的联系，及时将事故救援情况、监测情况等传回省指挥中心。
          </td>
          <td class="height_93" colspan="2">
            省应急厅（应急指挥中心、危化处、风险监测和综合减灾处、救灾和物资保障处、科技和信息化处、办公室）、省通信管理局、江苏能源监管办、省电力公司、省气象局、省生态环境厅、省民政厅、省教育厅
          </td>
        </tr>
        <tr>
          <td align="center">应急结束</td>
          <td class="height_93" colspan="2">1、对外事故及救援情况等信息发布。<br/>
            2、宣布应急结束。<br/>
            3、协调、组织事故调查和善后处理工作。<br/>
          </td>
          <td class="height_93" colspan="2">省人民政府、省指挥部、省委宣传部、省应急厅（新闻宣传处、调查评估和统计处）、设区市人民政府、省卫生健康委员会、省民政厅、省生态环境厅、保监部门</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

