<section class="layout-content" *ngIf="isShowStandard">
  <div class="solute" (mouseover)="showStandard()">
    <div class="standard-btn">标准</div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="null" (nzOnCancel)="standardCancel()" (nzOnOk)="standardOk()"
            [nzOkLoading]="isOkLoading" [nzFooter]="null"
            [nzClosable]="false" nzWidth="1200" [nzBodyStyle]="backImage">
    <p>应急响应启动标准</p>
    <nz-divider class="table-box"></nz-divider>
    <table cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <td width="20%">防汛启动标准</td>
        <td width="20%">一级</td>
        <td width="20%">二级</td>
        <td width="20%">三级</td>
        <td width="20%">四级</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tableStandardFlood;">
        <td align="center">{{item.name}}</td>
        <td [style]="{'text-align':item.levelOne.length===1?'center':''}">{{item.levelOne}}</td>
        <td [style]="{'text-align':item.levelTwo.length===1?'center':''}">{{item.levelTwo}}</td>
        <td [style]="{'text-align':item.levelThree.length===1?'center':''}">{{item.levelThree}}</td>
        <td [style]="{'text-align':item.levelFour.length===1?'center':''}">{{item.levelFour}}</td>
      </tr>
      </tbody>
    </table>
    <br/>
    <table cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <td width="20%">抗旱启动标准</td>
        <td width="20%">一级</td>
        <td width="20%">二级</td>
        <td width="20%">三级</td>
        <td width="20%">四级</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tableStandardDrought;">
        <td align="center">{{item.name}}</td>
        <td [style]="{'text-align':item.levelOne.length===1?'center':''}">{{item.levelOne}}</td>
        <td [style]="{'text-align':item.levelTwo.length===1?'center':''}">{{item.levelTwo}}</td>
        <td [style]="{'text-align':item.levelThree.length===1?'center':''}">{{item.levelThree}}</td>
        <td [style]="{'text-align':item.levelFour.length===1?'center':''}">{{item.levelFour}}</td>
      </tr>
      </tbody>
    </table>
  </nz-modal>
  <form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">灾害类别</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-radio-group formControlName="floodAndDrought">
              <label nz-radio nzValue="0">防汛</label>
              <label nz-radio nzValue="1">抗旱</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-container *ngIf="validateForm.get('floodAndDrought').value==='0'">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">洪水预警</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="flood">
                <nz-option *ngFor="let item of warningLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">暴雨预警</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="rainstormFlood">
                <nz-option *ngFor="let item of warningLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">长江/太湖流域受淹(涝)面积/万亩</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number formControlName="changjiangFlood"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">淮河/沂沭泗流域受淹(涝)面积/万亩</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number formControlName="huaiheFlood"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="13">
          <nz-form-item>
            <nz-form-label [nzSpan]="18">流域性防洪工程/区域性骨干防洪工程/水库大坝出现险情</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="damFlood">
                <nz-option *ngFor="let item of dangerLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
      <ng-container *ngIf="validateForm.get('floodAndDrought').value==='1'">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">干旱预警</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="waterDrought">
                <nz-option *ngFor="let item of warningLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">干旱预警</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="weatherDrought">
                <nz-option *ngFor="let item of warningLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">长江/太湖流域受旱面积/万亩</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number formControlName="changjiangDrought"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">淮河/沂沭泗流域受旱面积/万亩</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-input-number formControlName="huaiheDrought"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="12">因旱情影响集中饮用水水源地取水</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="area">
                <nz-option *ngFor="let item of dangerLevelOptions" [nzValue]="item.value"
                           [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
    </div>
  </form>
</section>
<div class="drive">
  <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}"
       (click)="isShowStandard=!isShowStandard"></div>
</div>

<ng-container *ngIf="currentPage===1">
  <app-flood-drought-one [downLoadUrl]="downLoadUrl" [emergencyRoomData]="emergencyData"
                         [responsibilityData]="responsibilityData"
                         [currentPage]="currentPage" [rowspanNum]="rowspanNum"
                         [planId]="planId"></app-flood-drought-one>
</ng-container>
<ng-container *ngIf="currentPage===2">
  <app-flood-drought-one [downLoadUrl]="downLoadUrl" [emergencyRoomData]="emergencyData"
                         [responsibilityData]="responsibilityData"
                         [currentPage]="currentPage" [rowspanNum]="rowspanNum"
                         [planId]="planId"></app-flood-drought-one>
</ng-container>
<ng-container *ngIf="currentPage===3">
  <app-flood-drought-three [downLoadUrl]="downLoadUrl" [responsibilityData]="responsibilityData"
                           [currentPage]="currentPage" [planId]="planId"></app-flood-drought-three>
</ng-container>
<ng-container *ngIf="currentPage===4">
  <app-flood-drought-three [downLoadUrl]="downLoadUrl" [responsibilityData]="responsibilityData"
                           [currentPage]="currentPage" [planId]="planId"></app-flood-drought-three>
</ng-container>
