<section class="layout-content" *ngIf="isShowStandard">
  <div class="solute" (mouseover)="showStandard()">
    <div class="standard-btn">标准</div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="null" (nzOnCancel)="standardCancel()" (nzOnOk)="standardOk()"
            [nzOkLoading]="isOkLoading" [nzFooter]="null"
            [nzClosable]="false" nzWidth="1200" [nzBodyStyle]="backImage">
    <app-emergency-standard [tableData]="tableStandard"></app-emergency-standard>
  </nz-modal>
  <form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">灾害等级</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select class="margin-none" nzPlaceHolder="下拉选择" formControlName="level">
              <nz-option *ngFor="let item of earthquakeEconomicLevelOptions" [nzValue]="item.value"
                         [nzLabel]="item.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</section>
<div class="drive">
  <div [ngClass]="{'show-btn':isShowStandard,'hide-btn':!isShowStandard}"
       (click)="isShowStandard=!isShowStandard"></div>
</div>

<ng-container *ngIf="currentPage===1">
  <app-special-equipment-one [downLoadUrl]="downLoadUrl" [emergencyRoomData]="emergencyData"
                                   [responsibilityData]="responsibilityData"
                                   [currentPage]="currentPage" [rowspanNum]="rowspanNum"
                                   [planId]="planId"></app-special-equipment-one>
</ng-container>
<ng-container *ngIf="currentPage===2">
  <app-special-equipment-one [downLoadUrl]="downLoadUrl" [emergencyRoomData]="emergencyData"
                                   [responsibilityData]="responsibilityData"
                                   [currentPage]="currentPage" [rowspanNum]="rowspanNum"
                                   [planId]="planId"></app-special-equipment-one>
</ng-container>
<ng-container *ngIf="currentPage===3">
  <app-special-equipment-one [downLoadUrl]="downLoadUrl" [responsibilityData]="responsibilityData"
                                     [currentPage]="currentPage" [planId]="planId"></app-special-equipment-one>
</ng-container>

<ng-container *ngIf="currentPage===4">
  <app-special-equipment-one [downLoadUrl]="downLoadUrl" [responsibilityData]="responsibilityData"
                                     [currentPage]="currentPage" [planId]="planId"></app-special-equipment-one>
</ng-container>

