<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content  [hidden]="isCurrProcess"  #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"
                       [rowspanNum]="rowspans"></app-new-content>
      <table [hidden]="!isCurrProcess" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td colspan="2" class="width_50">应急工作内容</td>
          <td colspan="2" class="width_50">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center" #distannce1>启动应急响应</td>
          <td colspan="2" class="height_93">向省人民政府汇报，启动应急，发布应急响应通知。
          </td>
          <td colspan="2" class="height_93">省人民政府、省应急厅(防汛防旱处、区域合作处、应急指挥中心、办公室)</td>
        </tr>
        <tr>
          <td align="center"  #distannce2>成立指挥部</td>
          <td colspan="2" class="height_93">省防汛抗旱指挥部总指挥等主要负责人赴指挥中心。组建现场指挥部，协调指挥现场应急救援工作。
          </td>
          <td colspan="2" class="height_93">省防汛抗旱指挥部指挥长：省委、省政府领导任指挥、常务副指挥<br/>
            副指挥长：省军区副司令员、省政府副秘书长、省水利厅厅长、省应急厅厅长及武警江苏省总队副司令员任副指挥，省水利厅副厅长兼省应急厅副厅长任秘书长
          </td>
        </tr>
        <tr>
          <td align="center" rowspan="3"  #distannce3>开展应急救援</td>
          <td colspan="2" class="height_93">成立现场指挥部，负责洪涝干旱灾害应急救援与处置的前沿指挥工作，成立应急救援工作组。
          </td>
          <td class="height_93">现场总指挥</td>
          <td class="height_93">现场指挥机构指挥长和各工作组组长由省防汛抗旱指挥部指挥长任命</td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">工作组</td>
          <td class="height_93" rowspan="2">（1）由省防指指挥决定启动Ⅱ级应急响应
            省防指指挥或委托常务副指挥主持会商，成员单位参加，分析研判汛情、旱情发展态势，部署防汛抗旱工作，明确工作目标、重点和措施，并将情况报省政府和国家防总及流域防总。视情连线有关市、县防指进行动员部署。<br/>
            （2）省防指副指挥带班，省防办实行24小时防汛抗旱值班，有关成员单位负责人或其指派人员到省防办进行联合值守。密切监视汛情、旱情、灾情变化，做好抢险物资队伍准备，视情向事发地派工作组、专家组，指导防汛抗旱工作。<br/>
            （3）省联防指挥部加强对汛情、旱情、险情监视，及时报省防指，派出工作组到事发地指导协助防汛抗旱工作。<br/>
            （4）省防指成员单位按照职能分工做好相关工作，按要求向省防指报告工作动态。<br/>
            （5）事发地设区市防指按要求向省防指报告事情进展及工作动态，突发灾情、险情及时报告。视地区汛情、旱情、灾情、险情发展，可依法宣布受影响地区进入紧急防汛期或紧急抗旱期。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            东部战区联合参谋部作战局、省委宣传部、省发展改革委、省教育厅、省工业和信息化厅、省公安厅、省财政厅、省自然资源厅、省生态环境厅、省住房城乡建设厅、省交通运输厅、省水利厅、省农业农村厅、省文化和旅游厅、省卫生健康委、省应急厅、省粮食和储备局、省气象局、省通信管理局、省消防救援总队、省供销社、中国安能建设集团有限公司第二工程局、南京铁路办事处、省电力公司、中石化江苏石油分公司、江苏交通控股公司和省军区、武警江苏省总队、江苏海事局、民航江苏安全监管局
          </td>
        </tr>
        <tr>
          <td class="width_content"  #distannce4>事态控制</td>
          <td class="height_93" colspan="2">1、提请、衔接武警部队和解放军、危化品专业救援队伍、社会救援力量等参与应急救援。<br/>
            2、组织、协调重要应急物资的调拨和紧急配运。<br/>
            3、保障事故所在地电力、通讯等资源保障工作。<br/>
            4、保障现场与指挥部之间的联系，及时将事故救援情况、监测情况等传回省指挥中心。
          </td>
          <td class="height_93" colspan="2">省应急厅、省通信管理局、江苏能源监管办、省电力公司、省气象局、省生态环境厅、省民政厅、省教育厅</td>
        </tr>
        <tr>
          <td align="center"  #distannce5>应急结束</td>
          <td class="height_93" colspan="2">1、对外发布事故及救援情况等信息。<br/>
            2、宣布应急结束。<br/>
            3、协调、组织事故调查和善后处理工作。
          </td>
          <td class="height_93" colspan="2">省人民政府、省指挥部、省委宣传部、省应急厅、设区市人民政府、省卫生健康委员会、省民政厅、省生态环境厅、保监部门</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
