<main>
  <header>分级应对决策辅助系统</header>
  <ul class="center-layout">
    <li>
      <div class="left-bottom"><p>启动应急响应</p></div>
    </li>
    <li>
      <div class="top-left"><p>组建现场指挥部</p></div>
    </li>
    <li>
      <div class="top-right"><p>分组开展应急救援工作</p></div>
    </li>
    <li>
      <div class="left-bottom middle-left"><p>现场信息采集</p></div>
    </li>
    <li>
      <div class="bottom-right"><p>应急保障</p></div>
    </li>
    <li>
      <div class="top-left marginleft"><p>事态控制</p></div>
    </li>
    <li>
      <div class="top-right marginright"><p>辅助决策一张图</p></div>
    </li>
    <li>
      <div class="left-bottom leftlast"><p>善后处理与事故调查</p></div>
    </li>
  </ul>

</main>


