<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content [hidden]="isCurrProcess"  #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"
                       [rowspanNum]="rowspans"></app-new-content>
      <table  [hidden]="!isCurrProcess"  cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td colspan="2" class="width_50">应急工作内容</td>
          <td colspan="2" class="width_30">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center" #distannce1>启动应急响应</td>
          <td colspan="2" class="height_93">向省人民政府汇报，启动应急，发布应急响应通知。
          </td>
          <td colspan="2" class="height_93">省人民政府、省应急厅</td>
        </tr>
        <tr>
          <td align="center" #distannce2>成立指挥部</td>
          <td colspan="2" class="height_93">省指挥部总指挥等相关领导赴指挥中心。组建现场指挥部，协调指挥现场应急救援工作。
          </td>
          <td colspan="2" class="height_93">省指挥部：总指挥、副总指挥由省人民政府指定</td>
        </tr>
        <tr>
          <td align="center" rowspan="19" #distannce3>开展应急救援</td>
          <td colspan="2" class="height_93">成立现场指挥部，负责重特大火灾事故应急救援与处置的前沿指挥工作，成立以下工作组
          </td>
          <td class="height_93">现场总指挥</td>
          <td class="height_93">省指挥部指定</td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">灭火救援组</td>
          <td class="height_93" rowspan="2">实施灭火救援、人员搜救、事故现场清理等工作。控制火势发展，防止次生、衍生事故发生为事故调查收集有关资料。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省消防救援总队</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省军区、事发地人民政府等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">综合调度组</td>
          <td class="height_93" rowspan="2">统筹组织现场应急救援的综合协调、情况收集上报，调配应急力量和资源等工作。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">事发地人民政府</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省发展改革委、省工业和信息化厅、省公安厅、省民政厅、省财政厅、省应急厅等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">交通管制组</td>
          <td class="height_93" rowspan="2">负责组织火灾事故可能危及区域有关人员的紧急疏散、撤离、事故现场保护和警戒、维护现场秩序等工作。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省公安厅</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省交通运输厅、事发地人民政府等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">医疗卫生组</td>
          <td class="height_93" rowspan="2">调度全省医疗队伍，设立临时医疗点，协调外部医疗机构，为事故受伤人员、救援人员提供医疗保障服务。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省卫生健康委</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省工业和信息化厅、省公安厅、省交通运输厅、事发地人民政府等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">环境监测组</td>
          <td class="height_93" rowspan="2">对涉事区域进行环境监测工作，提出控制污染扩散建议，防止发生环境污染次生灾害。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省生态环境厅</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省交通运输厅、省卫生健康委、省气象局等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">处置保障组</td>
          <td class="height_93" rowspan="2">根据事故处置工作需求，及时提供物资、装备、食品、交通、供电、供水、供气和通信等方面的后勤服务和资源保障。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">事发地人民政府</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省发展改革委、省工业和信息化厅、省民政厅、省住房城乡建设厅、省应急厅、省广电局、省通信管理局、省电力公司等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">新闻发布组</td>
          <td class="height_93" rowspan="2">统筹协调和组织事件舆论引导、新闻应对发布和集体采访组织活动工作。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省委宣传部</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省广电局、省应急厅、事发地人民政府等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">专家组</td>
          <td class="height_93" rowspan="2">对火灾事故发展趋势、抢险救援方案等提出意见建议，为应急救援行动的决策提供技术支持。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省生态环境厅、省卫生健康委、省消防救援总队等部门和单位
          </td>
        </tr>
        <tr>
          <td class="width_content nowrap" rowspan="2">善后处置组</td>
          <td class="height_93" rowspan="2">做好受灾群众、遇难（失联）人员亲属信息登记、食宿接待和安抚疏导等善后工作。
          </td>
          <td class="height_93 nowrap">牵头部门(单位)</td>
          <td class="height_93">事发地人民政府</td>
        </tr>
        <tr>
          <td class="height_93 nowrap">配合部门(单位)</td>
          <td class="height_93">
            省发展改革委、省民政厅、省财政厅、省人力资源社会保障厅、省生态环境厅、省应急厅和相关部门单位
          </td>
        </tr>
        <tr>
          <td align="center" #distannce4>事态控制</td>
          <td class="height_93" colspan="2">
            1、提请、衔接武警部队和解放军、消防救援队伍、社会救援力量等参与应急救援。<br>
            2、组织、协调重要应急物资的调拨和紧急配运。<br>
            3、保障事故所在地电力、通讯等资源保障工作。<br>
            4、保障现场与指挥部之间的联系，及时将事故救援情况、监测情况等传回省指挥中心。
          </td>
          <td class="height_93" colspan="2">省政府、前线指挥部、省消防救援总队、省军区、省政府、省应急厅
          </td>
        </tr>
        <tr>
          <td align="center" #distannce5>应急结束</td>
          <td class="height_93" colspan="2">
            1、对外事故及救援情况等信息发布。<br>
            2、宣布应急结束。<br>
            3、协调、组织事故调查和善后处理工作。
          </td>
          <td class="height_93" colspan="2">省人民政府、省指挥部、省委宣传部、省应急厅、设区市人民政府、省卫生健康委员会、省民政厅、省生态环境厅</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

