<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content *ngIf="!isCurrProcess" #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"></app-new-content>
      <table *ngIf="isCurrProcess" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td colspan="2" class="width_50">应急工作内容</td>
          <td colspan="2" class="width_50">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">启动应急响应</td>
          <td colspan="2" class="height_93">向省人民政府汇报，启动应急，发布应急响应通知。</td>
          <td colspan="2" class="height_93">
            省人民政府、省应急厅
          </td>
        </tr>
        <tr>
          <td align="center">成立指挥部</td>
          <td colspan="2" class="height_93">省指挥部总指挥等相关领导赴指挥中心。组建现场指挥部，协调指挥现场应急救援工作。</td>
          <td colspan="2" class="height_93">
            省指挥部总指挥：省长。副指挥长：分管应急工作的副省长和省应急厅、省公安厅、省住房和城乡建设厅、省地震局主要负责同志以及省军区负责同志
          </td>
        </tr>
        <tr>
          <td align="center" rowspan="25">开展应急救援</td>
          <td colspan="2" class="height_93">成立现场指挥部，负责地震灾害应急救援与处置的前沿指挥工作，组建以下工作组：</td>
          <td class="width_72">现场总指挥：</td>
          <td align="center">分管副省长分管副省长</td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">抢险救援组</td>
          <td class="height_93" rowspan="2">负责协调处理抢险救灾相关事宜，协助省防指领导协调各工作组的处置工作。</td>
          <td class="height_93">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">通信保障组</td>
          <td class="height_93" rowspan="2">负责组织协调指导有关新闻单位及时报道台风灾情和抢险救灾工作情况。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">群众生活保障组</td>
          <td class="height_93" rowspan="2">负责协调、组织抢险应急队伍开展现场处置，根据需要协调、调遣后续处置和增援力量。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">医疗救治和卫生防疫组</td>
          <td class="height_93" rowspan="2">负责保障公用网通信畅通。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">基础设施保障和生产恢复组</td>
          <td class="height_93" rowspan="2">负责落实抢险救灾资金，保障抢险救灾物资，确保应急需要。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">地震监测及趋势研判组</td>
          <td class="height_93" rowspan="2">负责参加防御和处置台风灾害和重大工程险情会商，为省防指提供决策咨询、工作建议和技术保障。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">次生灾害防范处置组</td>
          <td class="height_93" rowspan="2">负责有序开展台风灾害核灾工作，保障受灾群众的基本生活，制定救灾方案。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">社会治安组</td>
          <td class="height_93" rowspan="2">负责有序开展台风灾害核灾工作，保障受灾群众的基本生活，制定救灾方案。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">救灾捐赠与涉外、涉港澳台事务组</td>
          <td class="height_93" rowspan="2">负责有序开展台风灾害核灾工作，保障受灾群众的基本生活，制定救灾方案。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">境外救援队伍协调事务组</td>
          <td class="height_93" rowspan="2">负责有序开展台风灾害核灾工作，保障受灾群众的基本生活，制定救灾方案。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">地震灾害调查及灾情损失评估组</td>
          <td class="height_93" rowspan="2">负责有序开展台风灾害核灾工作，保障受灾群众的基本生活，制定救灾方案。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">信息发布及宣传报道组</td>
          <td class="height_93" rowspan="2">组织灾情和抗震救灾信息发布，指导做好抗震救灾宜传报道。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td align="center">事态控制</td>
          <td colspan="2" class="height_93">1、提请、衔接武警部队和解放军、危化品专业救援队伍、社会救援力量等参与应急救援。<br/>
            2、组织、协调重要应急物资的调拨和紧急配运。<br/>
            3、保障事故所在地电力、通讯等资源保障工作。<br/>
            4、保障现场与指挥部之间的联系，及时将事故救援情况、监测情况等传回省指挥中心。
          </td>
          <td colspan="2" class="height_93">省应急厅、省通信管理局、江苏能源监管办、省电力公司、省气象局、省生态环境厅、省民政厅、省教育厅、江苏海事局、连云港海事局</td>
        </tr>
        <tr>
          <td align="center">应急结束</td>
          <td colspan="2" class="height_93">1、对外事故及救援情况等信息发布。<br/>
            2、宣布应急结束。
          </td>
          <td colspan="2" class="height_93">省人民政府、省省防汛抗旱指挥部、省委宣传部、省应急厅、设区市人民政府、省卫生健康委员会、省民政厅、省生态环境厅、保监部门</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
