<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content [hidden]="isCurrProcess"  #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"></app-new-content>
      <table [hidden]="!isCurrProcess"  cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <td class="width_100">主要任务</td>
          <td colspan="2" class="width_50">应急工作内容</td>
          <td colspan="2" class="width_50">职能部门(单位)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center" #distannce1>启动应急响应</td>
          <td colspan="2" class="height_93">向省人民政府汇报，启动应急，发布应急响应通知。</td>
          <td colspan="2" class="height_93">
            省人民政府、省应急厅
          </td>
        </tr>
        <tr>
          <td align="center"  #distannce2>成立指挥部</td>
          <td colspan="2" class="height_93">省指挥部总指挥等相关领导赴指挥中心。组建现场指挥部，协调指挥现场应急救援工作。</td>
          <td colspan="2" class="height_93">
            省指挥部总指挥：省长。副指挥长：分管应急工作的副省长和省应急厅、省公安厅、省住房和城乡建设厅、省地震局主要负责同志以及省军区负责同志
          </td>
        </tr>
        <tr>
          <td align="center" rowspan="25"  #distannce3>开展应急救援</td>
          <td colspan="2" class="height_93">成立现场指挥部，负责地震灾害应急救援与处置的前沿指挥工作，组建以下工作组：</td>
          <td class="width_72">现场总指挥：</td>
          <td align="center">分管副省长分管副省长</td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">抢险救援组</td>
          <td class="height_93" rowspan="2">制定实施抢险救灾力量配置方案，调配救援队伍和装备，搜救被困群众和受伤人员。组织救援人员和物资的水运、空运、空投工作;清理灾区现场。</td>
          <td class="height_93">牵头部门(单位)</td>
          <td class="height_93">省应急厅和省军区</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省交通运输厅、省地震局、江苏海事局、省气象局、武警江苏省总队、省消防救
            援总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">通信保障组</td>
          <td class="height_93" rowspan="2">出动应急通信保障队伍，尽快修复被损毁的通信设施，优先保障抗震救灾指挥应急通信畅通。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省通信管理局</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省工业和信息化厅、省应急厅、省军区等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">群众生活保障组</td>
          <td class="height_93" rowspan="2">制定实施受灾群众救助工作方案以及相应的资金物资保障措施。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省发展改革委、省工业和信息化厅、省民政厅、省财政厅、省住房城乡建设厅、省教育厅、省农业农村厅、省商务厅、省文化和旅游厅、省外办、省粮食和物资储备局、省红十字会、团省委等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">医疗救治和卫生防疫组</td>
          <td class="height_93" rowspan="2">组派医疗卫生救援队伍，调集医疗器械、药品等物资,对伤病员进行救治、心理干预和转移;做好重大传染病和突发公共卫生事件预防控制工作。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省卫生健康委</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省发展改革委、省财政厅、省应急厅、省工业和信息化厅、省交通运输厅、南京海关、武警江苏省总队、省红十字会等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">基础设施保障和生产恢复组</td>
          <td class="height_93" rowspan="2">
            组织指导抢修维护交通设施和供电、供水、燃气、防洪、广播电视等设施。组织生产、调运抢险救援产品，调运生产物资和装备，保障灾区抢险应急物资供应。指导制订科学恢复生产方案。
          </td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省发展改革委</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">
            省工业和信息化厅、省应急厅、省财政厅、省自然资源厅、省住房城乡建设厅、省交通运输厅、上海铁路局南京办事处、省水利厅、省农业农村厅、省商务厅、省广电局、江苏银保监局、民航江苏监管局等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">地震监测及趋势研判组</td>
          <td class="height_93" rowspan="2">密切监视震情发展，分析研判地震趋势及震害规模。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省地震局</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">必要时邀请中国地震，局、外省有关地震预报专家参加
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">次生灾害防范处置组</td>
          <td class="height_93" rowspan="2">做好灾区防火以及灾区安全生产隐患和环境风险排查、防范工作加强灾区环境监测，减轻或消除环境污染危害。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省公安厅、省自然资源厅、省消防救援总队、省水利厅、省住房城乡建设厅、省工业和信息化厅、省交通运输厅、省生态环境厅、省人民防空办公室、省气象局、民航江苏监管局等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">社会治安组</td>
          <td class="height_93" rowspan="2">协助灾区加强治安管理和安全保卫工作，切实维护社会稳定。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省公安厅</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省司法厅、武警江苏省总队等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">救灾捐赠与涉外、涉港澳台事务组</td>
          <td class="height_93" rowspan="2">接受和安排国内外捐赠，处理其他涉外事务和涉港澳台事务。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省民政厅和相关部门</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省外办、省台办、南京海关、省商务厅、省应急厅、省文化和旅游厅、省红十字会等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">境外救援队伍协调事务组</td>
          <td class="height_93" rowspan="2">接受和安排境外救援队伍，协调救援行动。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省外办</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省台办、省商务厅、南京海关、民航江苏监管局等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">地震灾害调查及灾情损失评估组</td>
          <td class="height_93" rowspan="2">开展地震社会影响和地质灾害等调查。对地震灾害损失进行评估。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省应急厅</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省财政厅、省自然资源厅、省住房城乡建设厅、省工业和信息化厅、省地震局、省国资委、江苏银保监局等
          </td>
        </tr>
        <tr>
          <td class="height_93" rowspan="2">信息发布及宣传报道组</td>
          <td class="height_93" rowspan="2">组织灾情和抗震救灾信息发布，指导做好抗震救灾宜传报道。</td>
          <td class="height_93 ">牵头部门(单位)</td>
          <td class="height_93">省委宣传部</td>
        </tr>
        <tr>
          <td class="height_93">配合部门(单位)</td>
          <td class="height_93">省外办、省台办、省广电局、省应急厅、省文化和旅游厅、省地震局等
          </td>
        </tr>
        <tr>
          <td align="center"  #distannce4>事态控制</td>
          <td colspan="2" class="height_93">1、提请、衔接武警部队和解放军、危化品专业救援队伍、社会救援力量等参与应急救援。<br/>
            2、组织、协调重要应急物资的调拨和紧急配运。<br/>
            3、保障事故所在地电力、通讯等资源保障工作。<br/>
            4、保障现场与指挥部之间的联系，及时将事故救援情况、监测情况等传回省指挥中心。
          </td>
          <td colspan="2" class="height_93">省应急厅、省通信管理局、江苏能源监管办、省电力公司、省气象局、省生态环境厅、省民政厅、省教育厅、江苏海事局、连云港海事局</td>
        </tr>
        <tr>
          <td align="center"  #distannce5>应急结束</td>
          <td colspan="2" class="height_93">1、对外事故及救援情况等信息发布。<br/>
            2、宣布应急结束。
          </td>
          <td colspan="2" class="height_93">省人民政府、省省防汛抗旱指挥部、省委宣传部、省应急厅、设区市人民政府、省卫生健康委员会、省民政厅、省生态环境厅、保监部门</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
