<div class="container">
  <div class="layout-wrap">
    <div class="title">{{sysName}}</div>
    <div class="login-wrap">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzSpan="4" nzNoColon><span class="fontStyles">用户名</span></nz-form-label>
          <nz-form-control nzErrorTip="请输入用户名!">
            <input type="text" nz-input formControlName="account" maxlength="20"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4" nzNoColon><span class="fontStyles">密&emsp;码</span></nz-form-label>
          <nz-form-control nzErrorTip="请输入密码!">
            <input type="password" nz-input formControlName="password" maxlength="20"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4" nzNoColon>&nbsp;</nz-form-label>
          <button nz-button class="login-form-button" [nzType]="'primary'">登 录</button>
        </nz-form-item>

      </form>
    </div>
  </div>
</div>
