.layout-content {
  width: 100%;
  /*height: 218px;*/
  background: url(../../../../../../assets/imgs/judgment-wrap-bg.png) no-repeat;
  background-size: 100% 100%;
  form {
    width: auto;
    margin: auto;
    padding: 30px;
  }
}
.drive{
  background: url(../../../../../../assets/imgs/line.png) no-repeat;
  background-size: 100% 100%;
  height: 3px;
  position: relative;
  .btn{
    cursor: pointer;
    width: 42px;
    height: 17px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%,-50%);
  }

  .show-btn:extend(.drive .btn){
    background: url(../../../../../../assets/imgs/show-btn.png) no-repeat;
  }
  .hide-btn:extend(.drive .btn){
    background: url(../../../../../../assets/imgs/hide-btn.png) no-repeat;
  }

}

.font-sel{
  margin-left: 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 32px;
}


nz-input-number {
  width: 210px;
  height: 32px;
  border: none;
  background: url(../../../../../../assets/imgs/disaster-type-bg.png) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 18px;
  padding-top: 2px;
}

nz-form-label {
  text-align: right;
}

nz-select {
  margin: 0 10px 25px 10px;
  width: 184px;
  height: 32px;
}


nz-form-label {
  text-align: right;
}

footer {
  margin-top: 100px;
  padding: 0 100px;
  cursor: pointer;
  .send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../../../../assets/imgs/send-btn-bg.png) center no-repeat;
    background-size: 100% 100%;
    height: 64px;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #5CFFEC;

    img {

      width: 24px;
      margin-right: 15px;
    }
  }
}
