<!--牵头、配合部门表格布局-->
<ng-container *ngIf="(level===1||level===2)&& isCurrProcess">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td width="20%" align="center">主要任务</td>
      <td colspan="2" width="40%" align="center">应急工作内容</td>
      <td colspan="2" align="center">职能部门</td>
    </tr>
    <ng-container  *ngFor="let trItem of TableDataModel">
      <ng-container *ngIf="!trItem.isGroup;else grouptpl">
        <tr>
          <td align="center">{{trItem.responsibility}}</td>
          <td colspan="2" class="padding_22">
            <ng-container *ngFor="let item of trItem.responsibilityDetail;let i= index;">
              {{i + 1}}.{{item}}<br/>
            </ng-container>
          </td>
          <td colspan="2" class="padding_22">{{trItem.department}}</td>
        </tr>
      </ng-container>

      <ng-template #grouptpl>
        <ng-container *ngFor="let groupItem of trItem.selectTeamResponsibilityDTO;let f=first;">
          <!--重污染天气-->
          <ng-container *ngIf="!groupItem.coordinateDepartment;else groupHasCoorTpl">
            <tr #distannce3>
              <td *ngIf="f" [attr.rowspan]="rowspanNum" align="center">{{trItem.responsibility}}</td>
              <td class="height_93" width="50%">{{groupItem.teamName}}111</td>
              <td class="padding_22">{{groupItem.teamResponsibility}}</td>
              <td align="center" colspan="2">{{groupItem.mainDepartment}}</td>
            </tr>
          </ng-container>
          <ng-template #groupHasCoorTpl >
            <tr #distannce3>
              <td *ngIf="f" [attr.rowspan]="rowspanNum" align="center">{{trItem.responsibility}}</td>
              <td class="height_93" rowspan="2">{{groupItem.teamName}}</td>
              <td class="padding_22" rowspan="2">{{groupItem.teamResponsibility}}</td>
              <td class="width_72" align="center">牵头部门(单位)</td>
              <td align="center">{{groupItem.mainDepartment}}</td>
            </tr>
            <tr>
              <td class="width_72" align="center">配合部门(单位)</td>
              <td align="center">{{groupItem.coordinateDepartment}}</td>
            </tr>
          </ng-template>
        </ng-container>
      </ng-template>

    </ng-container>
    </tbody>
  </table>
</ng-container>

<!--应急厅表格布局-->
<ng-container *ngIf="(level===1||level===2)&& !isCurrProcess">
  <table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td width="18%" align="center">部门/岗位</td>
      <td align="center">职责</td>
      <td align="center">职守制度</td>
    </tr>
    <ng-container *ngFor="let item of EmergencyDataModel; let i = index;let l=last">
      <tr #emergencyTable>
        <td align="center">{{item.officeName}}</td>
        <td class="padding_22">
          <span *ngFor="let officeResponsibilityItem of item.officeResponsibility;let bi=index;let bl=last">
          <span *ngIf="item.officeResponsibility.length>1">{{bi + 1}}:
          </span>{{officeResponsibilityItem}} <br *ngIf="item.officeResponsibility.length>1&&!bl">
        </span>
          <ng-container *ngIf="item.goods.length>0">
            <br> 携带物资：<br>
            <span *ngFor="let goods of item.goods;let gi=index;let gl=last">{{goods}}<span *ngIf="!gl">、</span></span>
          </ng-container>
        </td>
        <td class="padding_22">
          <span *ngFor="let unattendedSystemItem of item.unattendedSystem;let bi=index;let bl=last">
          <span *ngIf="item.unattendedSystem.length>1">{{bi + 1}}:
          </span>{{unattendedSystemItem}} <br *ngIf="item.unattendedSystem.length>1&&!bl"></span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>

<!--三四级表格布局-->
<ng-container *ngIf="level===3||level===4">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td align="center" width="25%">应急响应流程</td>
      <td align="center" width="50%">应急组织</td>
      <td align="center" width="25%">职责</td>
    </tr>
    <tr>
      <td align="center">{{TableDataModel[0].responsibility}}</td>
      <td align="center">{{TableDataModel[0].department}}</td>
      <td align="center">{{TableDataModel[0].responsibilityDetail}}</td>
    </tr>
    <tr>
      <td align="center">{{TableDataModel[1].responsibility}}</td>
      <td align="center">{{TableDataModel[1].department}}</td>
      <td align="center">{{TableDataModel[1].responsibilityDetail}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>

