<!--牵头、配合部门表格布局-->
<ng-container *ngIf="(level===1||level===2)&& isCurrProcess">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td width="20%" align="center">主要任务</td>
      <td colspan="2" width="40%" align="center">应急工作内容</td>
      <td colspan="2" align="center">职能部门</td>
    </tr>
    <tr #distannce1>
      <td align="center">{{TableDataModel[0].responsibility}}</td>
      <td colspan="2" class="padding_22">{{TableDataModel[0].responsibilityDetail}}</td>
      <td colspan="2" class="padding_22">{{TableDataModel[0].department}}</td>
    </tr>
    <tr #distannce2>
      <td align="center">{{TableDataModel[1].responsibility}}</td>
      <td colspan="2" class="padding_22">{{TableDataModel[1].responsibilityDetail}}</td>
      <td colspan="2" class="padding_22">{{TableDataModel[1].department}}</td>
    </tr>
    <tr #distannce3>
      <td [attr.rowspan]="rowspanNum" align="center">{{TableDataModel[2].responsibility}}</td>
      <td class="height_93">{{TableDataModel[2].selectTeamResponsibilityDTO[0].teamName}}</td>
      <td class="padding_22">{{TableDataModel[2].selectTeamResponsibilityDTO[0].teamResponsibility}}
      </td>
      <td align="center" colspan="2">{{TableDataModel[2].selectTeamResponsibilityDTO[0].mainDepartment}}</td>
    </tr>
    <ng-container *ngFor="let item of this.TableDataModel[2].selectTeamResponsibilityDTO;let i= index">
      <tr *ngIf="i>0">
        <td class="height_93" rowspan="2">{{item.teamName}}</td>
        <td class="padding_22" rowspan="2">{{item.teamResponsibility}}</td>
        <td class="width_72" align="center">牵头部门(单位)</td>
        <td align="center">{{item.mainDepartment}}</td>
      </tr>
      <tr *ngIf="i>0">
        <td class="width_72" align="center">配合部门(单位)</td>
        <td align="center">{{item.coordinateDepartment}}</td>
      </tr>
    </ng-container>
    <tr #distannce4>
      <td align="center">{{TableDataModel[3].responsibility}}</td>
      <td colspan="2" class="padding_22">
        <ng-container *ngFor="let item of TableDataModel[3].responsibilityDetail;let i= index;">
          {{i + 1}}.{{item}}<br/>
        </ng-container>
      </td>
      <td colspan="2" class="padding_22">
        {{TableDataModel[3].department}}
      </td>
    </tr>
    <tr #distannce5>
      <td align="center">{{TableDataModel[4].responsibility}}</td>
      <td colspan="2" class="padding_22">
        <ng-container *ngFor="let item of TableDataModel[4].responsibilityDetail;let i= index;">
          {{i + 1}}.{{item}}<br/>
        </ng-container>
      </td>
      <td colspan="2" class="padding_22">{{TableDataModel[4].department}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>

<!--应急厅表格布局-->
<ng-container *ngIf="(level===1||level===2)&& !isCurrProcess">
  <table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td width="30%" align="center">部门岗位</td>
      <td class="text-style">职责</td>
    </tr>
    <ng-container *ngFor="let item of EmergencyDataModel; let i = index;let l=last">
      <tr #emergencyTable>
        <td align="center">{{item.officeName}}</td>
        <td class="text-style">
          <span *ngFor="let officeResponsibilityItem of item.officeResponsibility;let bi=index;let bl=last">
          <span *ngIf="item.officeResponsibility.length>1">{{bi + 1}}:
          </span>{{officeResponsibilityItem}} <br *ngIf="item.officeResponsibility.length>1&&!bl">
        </span>
          <ng-container *ngIf="item.goods.length>0">
            <br> 携带物资：<br>
            <span *ngFor="let goods of item.goods;let gi=index;let gl=last">{{goods}}<span *ngIf="!gl">、</span></span>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>

<!--三四级表格布局-->
<ng-container *ngIf="level===3||level===4">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td align="center">应急响应流程</td>
      <td align="center">应急组织</td>
      <td align="center">职责</td>
    </tr>
    <tr>
      <td align="center">{{TableDataModel[0].responsibility}}</td>
      <td align="center">{{TableDataModel[0].department}}</td>
      <td align="center">{{TableDataModel[0].responsibilityDetail}}</td>
    </tr>
    <tr>
      <td align="center">{{TableDataModel[1].responsibility}}</td>
      <td align="center">{{TableDataModel[1].department}}</td>
      <td align="center">{{TableDataModel[1].responsibilityDetail}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>

