<div class="r-cnt">
  <!--一级tab头部标签-->
  <ul class="r-ul clearfix">
    <li *ngFor="let tab of tabObj" (click)="chooseTab(tab,1)"
        [ngClass]="{'active':currentSelFirstTabId==tab.id}">{{tab.name}}</li>
  </ul>
  <!--一级tabContent-->
  <div *ngIf="secondLevelTabArray.length>0">
    <!--二级tab头部标签-->
    <ul class="second-tabs clearfix">
      <li *ngFor="let secondaryOne of secondLevelTabArray"
          (click)="chooseTab(secondaryOne,2,$event)"
          [ngClass]="{'actives':currentSelSecondTabId==secondaryOne.id}">{{secondaryOne.name}}</li>
    </ul>

    <div class="absolution" (click)="selfClick=true" *ngIf="(thirdLevelTabArray?.length>0)&&showPanel">
      <div class="show-box">
        <div (click)="chooseTab(item,3)" [ngClass]="{'actives':currentSelThirdTabId==item.id}"
             *ngFor="let item of thirdLevelTabArray;">{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
