
.dataShow {
  font-family: PingFangSC-Medium;
  padding-top: 25px;
  min-height: 375px;
  font-size: 26px;
  color: #FFFFFF;
  position: relative;
}

.dataMide {
  width: 770px;
  margin: auto;
}

.bread-crumb {
  position: absolute;
  left: 20px;
  top: 10px;

  nz-breadcrumb-item, .ant-breadcrumb-separator {
    color: white !important;
  }
}

