<div class="dataShow">
  <ng-container *ngIf="userRole===userRoleEnum.Manage">
    <app-bread-crumb [data]="dataInfo.responsibilityNameSort"></app-bread-crumb>
    <h1>{{dataInfo.responsibilityNameSort[dataInfo.responsibilityNameSort.length - 1]}}</h1>
  </ng-container>
  <ng-container *ngIf="userRole===userRoleEnum.User">
    <app-bread-crumb [data]="dataInfo.beforeResponsibilityNameSort"></app-bread-crumb>
    <h1>{{dataInfo.beforeResponsibilityNameSort[dataInfo.beforeResponsibilityNameSort.length - 1]}}</h1>
  </ng-container>

  <div class="dataMide">
    <div class="clearfix">
      <span>应急职责</span>：
      <div style="float: right;width: 640px;">
        <ng-container
          *ngFor="let item of dataInfo.responsibilityDetailSort;let i=index;let l=last">
          <ng-container *ngIf="dataInfo.responsibilityDetailSort.length>2">{{i + 1}}、</ng-container>
          {{item}}<br *ngIf="!l">
        </ng-container>
      </div>
    </div>
    <div><span>&emsp;联系人</span>：{{dataInfo.linkman}}</div>
    <div><span>联系方式</span>：{{dataInfo.linkPhone}}</div>
  </div>
</div>
