<p>应急响应启动标准</p>
<nz-divider></nz-divider>
<table cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <td width="10%">启动标准</td>
    <td>一级</td>
    <td>二级</td>
    <td>三级</td>
    <td>四级</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td align="center">死亡人数</td>
    <td>300人以上死亡（含失踪）</td>
    <td>50人以上、300人以下死亡（含失踪）</td>
    <td>10人以上、50人以下死亡（含失踪）</td>
    <td>10人以下死亡（含失踪）</td>
  </tr>
  <tr>
    <td align="center">直接经济损失</td>
    <td>直接经济损失占我省上半年地区生产总值1%以上</td>
    <td>严重经济损失</td>
    <td>较重经济损失</td>
    <td>一定经济损失</td>
  </tr>
  <tr>
    <td align="center">地震级别</td>
    <td>1、省陆地行政区域发生6.0级以上；
      2、近海海域50千米或我省陆地边界50千米以内的邻省（市）7.0级以上地震
    </td>
    <td>1、省陆地行政区域发生5.0以上、6.0级以下；
      2、近海海域50千米或我省陆地边界50千米以内的邻省（市）6.0级以上、7.0级以下地震
    </td>
    <td>1、省陆地行政区域发生4.0以上、5.0级以下；
      2、近海海域50千米或我省陆地边界50千米以内的邻省（市）5.0级以上、6.0级以下地震
    </td>
    <td>省陆地行政区域发生4.0级以下有感地震；</td>
  </tr>
  </tbody>
</table>
