<p>应急响应启动标准</p>
<nz-divider class="table-box"></nz-divider>
<table cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <td width="13%">启动标准</td>
    <td width="22%">一级</td>
    <td width="22%">二级</td>
    <td width="22%">三级</td>
    <td width="21%">四级</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of tableData;">
    <td align="center">{{item.name}}</td>
    <td>{{item.levelOne}}</td>
    <td>{{item.levelTwo}}</td>
    <td>{{item.levelThree}}</td>
    <td>{{item.levelFour}}</td>
  </tr>
  </tbody>
</table>
