<div class="column-lay">
  <app-btn-group [downLoadUrl]="downLoadUrl" [levels]="planId"></app-btn-group>
  <app-left-hexagon (isClickLeft)="changeState($event)" [emergencyRoomNameArray]="emergencyRoomNameArray"
                    (clickReturn)="getCurrentLeftName($event)"
                    [nameArray]="nameArray"></app-left-hexagon>
  <div [@bounceInOnEnter]="{ value: '', params: { duration: 1000 }}">
    <div class="column-right">
      <app-new-content *ngIf="!isCurrProcess" #tableContent [isCurrProcess]="isCurrProcess" [level]="currentPage"
                       [TableDataModel]="tableObj" [EmergencyDataModel]="emergencyObj"
                       [rowspanNum]="rowspans"></app-new-content>
      <app-environmental-emergency-table-one *ngIf="isCurrProcess"></app-environmental-emergency-table-one>
    </div>
  </div>
</div>
