<table cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td class="width_100">主要任务</td>
    <td colspan="2" class="width_50">应急工作内容</td>
    <td class="width_30" colspan="2">职能部门(单位)</td>
    <td class="width_content">备注</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td align="center">启动应急响应</td>
    <td colspan="2" class="height_93">
      省环境应急指挥部，负责统筹协调、现场指挥、应急处置、督促指导等工作。
    </td>
    <td class="height_93" colspan="2">省人民政府</td>
    <td>启动Ⅰ级应急响应时，由省人民政府主要负责同志担任总指挥；启动Ⅱ级应急响应时，由省人民政府分管生态环境负责同志担任总指挥。</td>
  </tr>

  <tr>
    <td align="center" rowspan="18">分组开展应急救援工作</td>
    <td class="width_content nowrap" rowspan="2">综合协调组</td>
    <td class="height_93" rowspan="2">
      1、负责总体协调、工作指导、督办核查等工作。<br/>
      2、负责沟通衔接、工作保障、有关会议安排、材料起草、信息汇总报送等工作。<br/>
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">Ⅰ级应急响应由省政府办公厅牵头，Ⅱ级应急响应由省生态环境厅牵头</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">相关部门和事发地人民政府</td>
  </tr>
  <tr>
    <td class="width_content nowrap" rowspan="2">应急监测组</td>
    <td class="height_93" rowspan="2">1、对可能受影响区域内的空气质量、敏感水体（如饮用水水源地）水质等进行快速监测，提出初步应对建议。<br/>
      2、组织开展对突发环境事件的污染物种类、性质以及当地气象、自然、社会环境状况等的调查。<br/>
      3、根据现场情况明确相应的应急监测方案及监测方法，确定污染物扩散范围，明确监测的布点和频次。<br/>
      4、做好大气、水体、土壤等应急监测及数据汇总分析，为突发环境事件应急决策提供依据。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省生态环境厅</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省自然资源厅、省水利厅、省农业农村厅、省气象局等部门和事发地人民政府</td>
  </tr>



  <tr>
    <td class="width_content nowrap" rowspan="2">污染处置组</td>
    <td class="height_93" rowspan="2">
      1、组织开展现场调查和应急测绘，收集汇总相关数据，组织技术研判和事态分析。<br/>
      2、分析污染途径，明确防止污染物扩散的程序；组织采取有效措施，迅速切断污染源，消除或减轻已经造成的污染。<br/>
      3、明确现场处置人员的个人防护措施；组织落实相关企业停、限产措施。<br/>
      4、组织建立现场警戒区和交通管制区域，确定重点防护区域，确定受威胁人员疏散的方式和途径，疏散转移受威胁人员至应急避灾场所。<br/>
      5、协调军队、武警有关力量参与应急处置。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省生态环境厅</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省工业和信息化厅、省公安厅、省自然资源厅、省交通运输厅、省水利厅、省农业农村厅、省应急厅、省粮食和储备局、江苏海事局等部门和事发地人民政府</td>
  </tr>


  <tr>
    <td class="width_content nowrap" rowspan="2">应急保障组</td>
    <td class="height_93" rowspan="2">
      1、调配救援队伍和装备。<br/>
      2、组织做好应急救援物资及临时安置重要物资的紧急生产、储备调拨和紧急配送工作。<br/>
      3、做好受影响居民临时基本生活救助工作；负责事件应对省级经费保障。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省卫生健康委员会</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省生态环境厅等部门和事发地人民政府</td>
  </tr>



  <tr>
    <td class="width_content nowrap" rowspan="2">新闻宣传组</td>
    <td class="height_93" rowspan="2">
      1、组织开展事件进展、应急工作情况等权威信息发布，加强新闻宣传报道。<br/>
      2、收集分析国内外舆情和社会公众动态，加强媒体、电信和互联网管理，正确引导舆论。<br/>
      3、通过多种方式，通俗、权威、全面、前瞻地做好相关知识普及；及时澄清不实信息，回应社会关切。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省委宣传部</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省生态环境厅等部门和事发地人民政府</td>
  </tr>




  <tr>
    <td class="width_content nowrap" rowspan="2">社会维稳组</td>
    <td class="height_93" rowspan="2">
      1、加强受影响地区社会治安管理，严厉打击借机传播谣言、哄抢物资等违法犯罪行为。<br/>
      2、加强转移人员安置点、救灾物资存放点等重点地区治安管控。<br/>
      3、做好受影响人员与涉事单位、地方人民政府及有关部门矛盾纠纷化解和法律服务工作，防止出现群体性事件，维护社会稳定，对发生的群体性事件，组织专业力量稳妥处置。<br/>
      4、加强对重要生活必需品等商品的市场监管和调控，打击囤积居奇行为。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省公安厅</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省生态环境厅等部门和事发地人民政府</td>
  </tr>





  <tr>
    <td class="width_content nowrap" rowspan="2">调查评估组</td>
    <td class="height_93" rowspan="2">
      1、开展突发环境事件环境污染损害调查，委托开展评估、核实事件造成的损失情况。<br/>
      2、对特别重大、重大环境事件的起因、性质、影响、责任、经验教训和恢复重建等问题进行调查评估。<br/>
      3、对应急处置过程、有关人员的责任、应急处置工作的经验、存在的问题等情况进行分析。
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省生态环境厅</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">省公安厅、省住房城乡建设厅、省交通运输厅、省水利厅、省农业农村厅、省应急厅、省自然资源厅、省气象局、省地震局等部门和事发地及受影响地人民政府</td>
  </tr>




  <tr>
    <td class="width_content nowrap" rowspan="2">应急专家组</td>
    <td class="height_93" rowspan="2">
      负责参与指导突发环境事件的应急处置工作，为环境应急指挥部提供分析评估、决策咨询和处置意见
    </td>
    <td class="height_93 nowrap">牵头部门(单位)：</td>
    <td class="height_93">省生态环境厅</td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td class="height_93 nowrap">配合部门(单位)：</td>
    <td class="height_93">政府机关、高校、科研机关、企业等领域专家</td>
  </tr>
  </tbody>
</table>
