<table cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td class="width_100">主要任务</td>
    <td class="width_50">应急工作内容</td>
    <td class="width_30">责任单位</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td align="center">启动应急响应</td>
    <td class="height_93">
      1、成立省处置铁路交通事故应急救援指挥部
      2、省各有关部门和单位及其应急力量及时赶赴事故现场
      3、及时将事故处置情况报告国家处置铁路交通事故应急指挥领导小组和省委、省政府
      4、I级响应由国务院或国家有关部门组织指挥，省处置铁路交通事故应急救援指挥部服从指挥，迅速启动应急响应程序，实施抢险救援
    </td>
    <td class="height_93" >总指挥由省长担任，
      副总指挥由分管副省长担任
      成员单位：省委宣传部、省委网信办、省委台办、省军区、武警江苏省总队、省公安厅、省民政厅、省财政厅、省生态环境厅、省交通运输厅、省卫生健康委、省应急厅、省外办、省国资委、省消防救援总队、省铁路办、江苏海事局、连云港海事局、省通信管理局、南京铁路办事处、省电力公司及相关铁路运输企业等部门和单位
    </td>
  </tr>

  <tr>
    <td align="center" rowspan="2">响应终止</td>
    <td class="height_93" >
      1、Ⅲ、Ⅳ级应急响应由启动应急响应的人民政府终止应急响应
    </td>
    <td class="height_93">
      启动应急响应的人民政府
    </td>
  </tr>

  <tr>
    <td class="height_93" >
      2、Ⅰ、Ⅱ级应急响应由省铁路办提出终止应急响应建议，省人民政府终止应急响应，并报告国务院（国务院办公厅）
    </td>
    <td class="height_93">省人民政府</td>
  </tr>


  </tbody>
</table>
