<div class="btn-group">
  <div class="send-btn">
    一键发送<span>&nbsp;<img src="../../../../assets/imgs/arrow.png" alt=""></span>
    <ul>
      <li (click)="sendMsg('信息上报')">信息上报</li>
      <li (click)="sendMsg('级别调整')">级别调整</li>
      <li (click)="sendMsg('应急终止')">应急终止</li>
    </ul>
  </div>
  <div class="download-btn" *ngIf="showExportBtn"><a [href]="downLoadUrl" target="_blank">下载</a></div>
  <ng-container *ngIf="shows">
    <div class="instruction-btn" (click)="showEmergencyRoom()">应急厅</div>
  </ng-container>
  <ng-container *ngIf="selectEmergency.length>0">
    <div class="instruction-btn" (click)="showInstruction()">指令手册</div>
  </ng-container>
</div>
<!--应急指令手册-->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading" [nzFooter]="null"
          [nzClosable]="false" nzWidth="1200" [nzBodyStyle]="backImage">
  <p>应急指令手册</p>
  <nz-divider class="table-box"></nz-divider>
  <div class="bre-input">
    <input type="text" #inputName placeholder="输入责任单位"><i class="iconImg"><img (click)="clearInput($event)"
                                                                               src="../../../../assets/imgs/clear.svg"
                                                                               alt=""></i>
  </div>
  <div class="inner-box">
    <table cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <td width="25%">主要责任单位</td>
        <td width="50%">应对措施</td>
        <td width="25%">职责分工</td>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of selectEmergency">
        <tr #emergencyTable>
          <td align="center">{{item.department}}</td>
          <td>
            <span *ngFor="let ritem of item.responsibility;let i=index;let bl=last">
              <span *ngIf="item.responsibility.length>1">{{i + 1}}、</span>{{ritem}} <br
              *ngIf="item.responsibility.length>1&&!bl"/>
            </span>
          </td>
          <td>
           <span *ngFor="let ritem of item.unattendedSystem;let i=index;let bl=last">
              <span *ngIf="item.unattendedSystem.length>1">{{i + 1}}、</span>{{ritem}} <br
             *ngIf="item.unattendedSystem.length>1&&!bl"/>
            </span>
          </td>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </div>
</nz-modal>
<!--应急厅-->
<nz-modal [(nzVisible)]="isVisibles" [nzTitle]="null" (nzOnCancel)="handleCancels()" (nzOnOk)="handleOks()"
          [nzOkLoading]="isOkLoading" [nzFooter]="null"
          [nzClosable]="false" nzWidth="1200" [nzBodyStyle]="backImage">
  <p>应急厅</p>
  <nz-divider class="table-box"></nz-divider>
  <div class="inner-box">
    <table cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td width="18%" align="center">部门/岗位</td>
        <td align="center">职责</td>
        <td align="center">职守制度</td>
      </tr>
      <ng-container *ngFor="let item of EmergencyDataModel; let i = index;let l=last">
        <tr>
          <td align="center">{{item.officeName}}</td>
          <td class="padding_22">
          <span *ngFor="let officeResponsibilityItem of item.officeResponsibility;let bi=index;let bl=last">
          <span *ngIf="item.officeResponsibility.length>1">{{bi + 1}}:
          </span>{{officeResponsibilityItem}} <br *ngIf="item.officeResponsibility.length>1&&!bl">
        </span>
            <ng-container *ngIf="item.goods.length>0">
              <br> 携带物资：<br>
              <span *ngFor="let goods of item.goods;let gi=index;let gl=last">{{goods}}<span *ngIf="!gl">、</span></span>
            </ng-container>
          </td>
          <td class="padding_22">
          <span *ngFor="let unattendedSystemItem of item.unattendedSystem;let bi=index;let bl=last">
          <span *ngIf="item.unattendedSystem.length>1">{{bi + 1}}:
          </span>{{unattendedSystemItem}} <br *ngIf="item.unattendedSystem.length>1&&!bl"></span>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</nz-modal>
